@charset "UTF-8";
body {
  margin: 0;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

.container {
  padding: 50px 10px;
  max-width: 1050px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  bottom: 60px;
}

.title {
  margin: 0;
  font-size: 3.5rem;
  transform: skewX(-20deg);
  z-index: 1;
}

.more-btn {
  position: relative;
  padding-top: 50px;
  font-size: 32px;
  text-align: center;
  transform: skewX(-15deg);
  z-index: 1;
  transition: all 0.5s;
}
.more-btn a {
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
}
.more-btn::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  margin-top: 21px;
  margin-left: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(40deg);
}
.more-btn:hover {
  opacity: 0.6;
}

.pd-cut {
  padding-top: 0;
}

/*-------------------------------------------
header
-------------------------------------------*/
header {
  height: 90vh;
}
header #main-header {
  position: relative;
  background-image: url(../img/mainvisu.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}
header #main-header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}
header #main-header .header-top h1 {
  position: absolute;
  width: 100px;
  height: 130px;
  margin: 0;
  top: 10px;
  left: 40px;
  z-index: 10;
}
header #main-header .header-top h1 a {
  display: inline-block;
  width: 100%;
  line-height: 0;
}
header #main-header .header-top h1 a img {
  display: block;
}
header #main-header .header-top .nav {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}
header #main-header .header-top .nav .header-list {
  display: flex;
  padding: 0px 20px;
}
header #main-header .header-top .nav .header-list .header-list-top {
  display: inline-block;
  position: relative;
  margin: 0px 10px;
}
header #main-header .header-top .nav .header-list .header-list-top:hover ul {
  display: block;
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-top-link {
  display: inline-block;
  width: 82px;
  text-align: center;
  font-weight: bold;
  position: relative;
  color: #333;
  background-image: linear-gradient(90deg, #3592CF 0%, #3592CF 50%, #333 50%);
  background-size: 200%;
  background-position: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.4s ease;
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-top-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transform: translateY(6px); /* 下に2px移動させて位置調整 */
  background-color: #3592CF; /* アニメーション時の下線色 */
  transition: width 0.4s ease; /* アニメーションを滑らかに */
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-top-link:hover::before {
  width: 100%;
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-top-link:hover {
  color: #3592CF;
  background-position: 0;
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-sub {
  position: absolute;
  top: 29px;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  padding: 0;
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content {
  padding: 8px 10px;
  transition: all 0.3s;
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content:hover {
  background-color: rgb(255, 255, 255);
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content .header-content-sub {
  color: #333;
  font-weight: bold;
  font-size: 0.9rem;
}
header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content .header-content-sub:hover {
  color: #3592CF;
}
header #main-header .header-top .toggle_btn {
  display: none;
}
header .left-bar {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 60px;
  height: 272px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0px 10px 10px 0;
  z-index: 10;
}
header .left-bar .bar-block {
  display: inline-block;
  width: 60px;
  height: 68px;
  text-align: center;
}
header .left-bar .bar-block .icon {
  display: inline-block;
  width: 30px;
  margin-top: 7px;
}
header .left-bar .bar-block .logofont {
  margin: 0;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}
header .left-bar .blue {
  background-color: #3592CF;
  transition: all 0.3s;
}
header .left-bar .blue:hover {
  background-color: #246d9d;
}
header .left-bar .blue:first-child {
  border-radius: 0px 10px 0px 0px;
}
header .left-bar .white {
  background-color: #fff;
  transition: all 0.3s;
}
header .left-bar .white:hover {
  background-color: #a4a4a4;
}
header .left-bar .white:last-child {
  border-radius: 0px 0px 10px 0px;
}
header .scrol-btn {
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3592CF;
  border-radius: 50px;
  box-shadow: -3px 5px 7px 1px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  z-index: 10;
}
header .scrol-btn span {
  width: 20px;
  height: 20px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(-45deg);
  margin-top: 10px;
}

/*-------------------------------------------
match
-------------------------------------------*/
#match {
  background-color: #333;
}
#match .match-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#match .match-top .match-btn .btn-text {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 34px;
  margin-left: 25px;
  line-height: 34px;
  background-color: #fff;
  box-shadow: 5px 5px 0px 0px #6b6a6a;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: all 0.3s;
  color: #333;
}
#match .match-top .match-btn .btn-text:hover {
  font-size: 1.5rem;
}
#match .match-top .match-btn .btn-text:active {
  box-shadow: unset;
  transform: translate(4px, 4px);
}
#match .match-list {
  margin-top: 80px;
  padding: 0;
}
#match .match-list .match-box {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}
#match .match-list .match-box .match-box-wrapper {
  margin: 0 auto;
  background-color: #5b5d5b;
  max-width: 700px;
  width: 100%;
}
#match .match-list .match-box .match-box-wrapper .match-top-text {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 40px;
}
#match .match-list .match-box .match-box-wrapper .match-top-text .match-tag {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin: 0;
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
}
#match .match-list .match-box .match-box-wrapper .match-top-text .home {
  background-color: #3592CF;
}
#match .match-list .match-box .match-box-wrapper .match-top-text .away {
  background-color: #686767;
}
#match .match-list .match-box .match-box-wrapper .match-top-text .league {
  width: 60%;
  display: inline-block;
  margin: 0;
  padding-left: 10%;
  background-color: transparent;
  color: #333;
  line-height: 40px;
}
#match .match-list .match-box .match-text {
  display: flex;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 20px;
}
#match .match-list .match-box .match-text .opponent {
  display: inline-block;
  width: 30%;
  max-width: 100px;
}
#match .match-list .match-box .match-text .match-center-info {
  width: 60%;
  margin-left: 10%;
}
#match .match-list .match-box .match-text .match-center-info .matchdate {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#match .match-list .match-box .match-text .match-center-info .matchdate .date {
  margin: 0;
  font-size: 200%;
  line-height: 2;
}
#match .match-list .match-box .match-text .match-center-info .matchdate .week {
  margin: 0 0 0 5%;
  font-size: 150%;
  line-height: 2;
}
#match .match-list .match-box .match-text .match-center-info .matchdate .time {
  margin: 0 0 0 5%;
  font-size: 200%;
  line-height: 2;
}
#match .match-list .match-box .match-text .match-center-info .matchdate .match-place {
  margin: 0 0 0 10%;
  font-size: 100%;
}
#match .match-list .match-box .match-text .match-center-info .opponent-text {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 25%;
}
#match .match-list .match-box .match-text .match-center-info .opponent-text .vs {
  font-size: 150%;
}
#match .match-list .match-box .match-text .match-center-info .opponent-text .opponent-name {
  margin-left: 25px;
  font-size: 200%;
  font-weight: 800;
}
#match .match-list .btn-list {
  margin-left: 30%;
  padding-bottom: 10px;
}
#match .match-list .btn-list .match-info-btn {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 40px;
  background-color: #3592CF;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  color: #fff;
  transition: all 0.3s;
}
#match .match-list .btn-list .match-info-btn::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 10px;
  height: 13px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  top: 13px;
  right: 15px;
}
#match .match-list .btn-list .match-info-btn:nth-child(2) {
  margin-left: 30px;
}
#match .match-list .btn-list .match-info-btn:hover {
  background-color: #246d9d;
}

.slide-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  z-index: 5;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev-arrow {
  left: 20vw;
  padding-left: 5px;
}

.next-arrow {
  right: 20vw;
  padding-right: 5px;
}

.slide-arrow__arrow {
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}

.prev-arrow__arrow {
  border-bottom: 2px solid #3592CF;
  border-left: 2px solid #3592CF;
}

.next-arrow__arrow {
  border-top: 2px solid #3592CF;
  border-right: 2px solid #3592CF;
}

/*-------------------------------------------
latest match
-------------------------------------------*/
#latestmatch {
  background-image: linear-gradient(rgba(109, 181, 228, 0.8), rgba(109, 181, 228, 0.8)), url(../img/marcos-moraes-rFehnP5wN4Q-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#latestmatch .latest-box {
  text-align: center;
}
#latestmatch .latest-box .latest-top-text {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
#latestmatch .latest-box .latest-top-text .latest-date {
  padding-right: 40px;
}
#latestmatch .latest-box .latest-top-text .latest-league {
  padding-left: 40px;
}
#latestmatch .latest-box .result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
#latestmatch .latest-box .result .result-emb {
  display: inline-block;
  width: 150px;
}
#latestmatch .latest-box .result .score-text {
  padding: 45px 40px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#latestmatch .latest-box .result .score-text .total-score {
  font-size: 120px;
  font-weight: 700;
  transform: skewX(-8deg);
}
#latestmatch .latest-box .result .score-text .score-board {
  margin: 0 10px;
  font-size: 24px;
  font-weight: bold;
  transform: skewX(-5deg);
}

/*-------------------------------------------
ranking
-------------------------------------------*/
#ranking {
  background: linear-gradient(200deg, black, #333, #a7a7a7);
}
#ranking .ranking-erea {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#ranking .left-rank {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
#ranking .left-rank .flex {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  margin-bottom: 15px;
}
#ranking .left-rank .name-pd {
  padding-left: 40px;
}
#ranking .left-rank p {
  transform: skewX(-8deg);
  margin: 0;
}
#ranking .left-rank .first-posi {
  position: relative;
  left: 0;
  width: 85%;
  font-size: 1.8rem;
}
#ranking .left-rank .first-posi .bg-rank {
  margin-left: 15px;
}
#ranking .left-rank .first-posi span {
  font-size: 3.5rem;
}
#ranking .left-rank .first-posi .myteam-name {
  font-size: 2.4rem;
  font-weight: bold;
  color: #3592CF;
}
#ranking .left-rank .other-posi {
  width: 70%;
  font-size: 1.7rem;
}
#ranking .left-rank .other-posi .rank {
  margin-left: 15px;
}
#ranking .left-rank .other-posi span {
  font-size: 3rem;
  padding-right: 10px;
}
#ranking .left-rank .other-posi .team-name {
  font-size: 2rem;
  font-weight: bold;
}
#ranking .left-rank .second-rank {
  position: relative;
  left: 20%;
}
#ranking .left-rank .third-rank {
  position: relative;
  left: 30%;
}
#ranking .right-rank {
  width: 40%;
}
#ranking .right-rank dl {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
#ranking .right-rank dl dt {
  width: 9%;
  margin-bottom: 10px;
  background-color: #535252;
  text-align: center;
}
#ranking .right-rank dl .my-team-name-rank {
  background-color: #3592CF;
}
#ranking .right-rank dl dd {
  width: 80%;
  margin: 0 0 10px 10px;
  padding-left: 10px;
  background-color: #d9d9d9;
  color: black;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

/*-------------------------------------------
news
-------------------------------------------*/
#news {
  background-color: #3592CF;
}
#news .news-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#news .news-flex .tag-list ul {
  display: flex;
}
#news .news-flex .tag-list ul li {
  margin-left: 60px;
}
#news .news-flex .tag-list ul li:nth-child(1) {
  margin-left: 0;
}
#news .news-flex .tag-list ul li a {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
  font-size: 1.1rem;
}
#news .news-flex .tag-list ul li a:hover {
  color: #333;
  border-bottom: 1px solid #333;
}
#news .news-top {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#news .news-top .news-content {
  width: 25%;
  background-color: #fff;
  color: #333;
}
#news .news-top .news-content:nth-child(4) {
  margin-right: 0;
}
#news .news-top .news-content img {
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
#news .news-top .news-content .news-content-text {
  margin: 0 10px 0 10px;
}
#news .news-top .news-content .news-content-text .news-date {
  font-size: 0.85rem;
  margin: 14px 0;
}
#news .news-top .news-content .news-content-text .news-title {
  font-size: 0.9rem;
  margin: 0 0 55px 0;
}
#news .news-tag {
  display: inline-block;
  background-color: #7e7d7d;
  border-radius: 50px;
  margin-bottom: 10px;
}
#news .news-tag .tag-name {
  margin: 0;
  padding: 2px 15px;
  font-size: 0.85rem;
  color: #fff;
}
#news .news-archive-top {
  margin: 70px auto 0 auto;
}
#news .news-archive-top dl {
  display: flex;
  flex-wrap: wrap;
}
#news .news-archive-top dl dt {
  margin-bottom: 25px;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}
#news .news-archive-top dl dd {
  margin: 0;
  margin-bottom: 25px;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}
#news .news-archive-top dl .archive-date {
  width: 14%;
  text-align: center;
}
#news .news-archive-top dl .archive-tag {
  width: 12%;
  text-align: center;
}
#news .news-archive-top dl .archive-title {
  width: 74%;
  overflow-wrap: anywhere;
}

/*-------------------------------------------
schedule
-------------------------------------------*/
#schedule {
  background-color: #333;
}
#schedule .week-box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#schedule .week-box .schedule-item {
  display: inline-block;
  background-color: #fff;
  color: #333;
  width: 135px;
}
#schedule .week-box .schedule-item .week-item-top {
  display: flex;
  justify-content: center;
  padding: 5px 25px;
  background-color: #d9d9d9;
  align-items: flex-end;
}
#schedule .week-box .schedule-item .week-item-top .item-date {
  font-size: 1.3rem;
}
#schedule .week-box .schedule-item .week-item-top .item-week {
  font-size: 1.1rem;
  margin-left: 10px;
}
#schedule .week-box .schedule-item .week-item-tag {
  display: inline-block;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin: 10px 0 0 5px;
  padding: 2px 15px;
  font-size: 0.85rem;
}
#schedule .week-box .schedule-item .week-item-content {
  font-size: 1.5rem;
  margin: 15px 0 70px 0;
  text-align: center;
}

/*-------------------------------------------
player
-------------------------------------------*/
#player {
  background-color: #3592CF;
  background-image: url(../img/bg-player.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#player .player-box {
  padding: 0;
  margin: 0;
}
#player .player-box li {
  box-sizing: border-box;
  margin: 0 10px;
}
#player .player-box li .player-item {
  width: 100%;
  max-width: 380px;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
#player .player-box li .player-item .number {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 0;
  font-size: 900%;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}
#player .player-box li .player-item img {
  position: absolute;
  width: 80%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
#player .player-box li .player-item .name {
  position: absolute;
  bottom: 90px;
  left: 10px;
  margin: 0;
  font-size: 500%;
  line-height: 1;
}

.slide-arrow-player {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  z-index: 5;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev-arrow-player {
  left: 33vw;
}

.next-arrow-player {
  right: 33vw;
}

.slide-arrow__arrow-player {
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}

.prev-arrow__arrow-player {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.next-arrow__arrow-player {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

/*-------------------------------------------
goods
-------------------------------------------*/
#goods .title {
  color: #333;
}
#goods .goods-box {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#goods .goods-box .item {
  position: relative;
  width: 245px;
  height: 330px;
  border-radius: 10px;
  border: 1px solid #9c9c9c;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  color: #333;
  overflow: hidden;
  transition: transform 0.3s ease;
}
#goods .goods-box .item img {
  max-width: 245px;
  max-height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
#goods .goods-box .item .item-name {
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}
#goods .goods-box .item .price {
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}
#goods .goods-box .item:hover img {
  transform: scale(1.05);
}
#goods .more-btn a {
  color: #333;
  border-bottom: 1px solid #333;
}
#goods .more-btn::after {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}

/*-------------------------------------------
guide
-------------------------------------------*/
#guide {
  background-color: #333;
}
#guide .container:nth-child(1) {
  padding-bottom: 0;
}
#guide .guide-list {
  margin-top: 40px;
}
#guide .guide-list .guide-item {
  position: relative;
  height: 125px;
  margin-top: 70px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
#guide .guide-list .guide-item:nth-child(even) {
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  margin-left: 0;
  margin-right: 20%;
}
#guide .guide-list .guide-item:nth-child(odd) {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  margin-left: 20%;
  margin-right: 0;
}
#guide .guide-list .guide-item:nth-child(1), #guide .guide-list .guide-item:nth-child(4) {
  background-position: 50% 63%;
}
#guide .guide-list .guide-item p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  z-index: 1;
  text-align: center;
  color: #333;
}
#guide .guide-list .guide-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
}
#guide .guide-list .guide-item:hover {
  opacity: 0.6;
}

/*-------------------------------------------
sns/media
-------------------------------------------*/
#sns {
  background: linear-gradient(90deg, #3592CF 0%, #59A6D7 34%, #fff 100%);
}
#sns .sns-list {
  margin-top: 40px;
  text-align: center;
}
#sns .sns-list a {
  margin-left: 30px;
  transition: all 0.3s;
}
#sns .sns-list a:nth-child(1) {
  margin-left: 0;
}
#sns .sns-list a img {
  width: 70px;
  height: 70px;
}
#sns .sns-list a:hover {
  opacity: 0.6;
}

/*-------------------------------------------
footer
-------------------------------------------*/
footer .footer-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer-top .footer-emb {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}
footer .footer-top .footer-minilist ul {
  display: flex;
}
footer .footer-top .footer-minilist ul li a {
  color: #686767;
  font-size: 0.85rem;
  transition: all 0.3s;
}
footer .footer-top .footer-minilist ul li a:hover {
  opacity: 0.5;
}
footer .footer-top .footer-minilist ul li a span {
  padding: 0 10px;
}
footer .end-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
footer .end-list .end-item .end-list-box {
  padding-left: 30px;
}
footer .end-list .end-item .end-list-box .end-title {
  display: inline-block;
  color: #333;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 2px solid #333;
}
footer .end-list .end-item .end-list-box .end-content-list {
  margin-top: 20px;
  padding-left: 25px;
}
footer .end-list .end-item .end-list-box .end-content-list .end-content {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-bottom: 8px;
}
footer .end-list .end-item .end-list-box .end-content-list .end-content a {
  color: black;
  transition: all 0.3s;
}
footer .end-list .end-item .end-list-box .end-content-list .end-content a:hover {
  opacity: 0.5;
}
footer .club-name {
  background-color: #333;
  padding: 8px 0;
  font-size: 0.85rem;
  text-align: center;
}
footer .club-name p {
  margin: 0;
}

@media (max-width: 1049px) {
  .container {
    padding: 50px 50px;
  }
  .pd-cut {
    padding-top: 0;
  }
  header #main-header .header-top {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #246d9d;
    z-index: 100;
  }
  header #main-header .header-top h1 {
    width: 70px;
  }
  header #main-header .header-top .nav {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: -1000px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    background-color: #fff;
    z-index: 20;
    transition: all 0.3s;
    cursor: pointer;
  }
  header #main-header .header-top .nav .header-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }
  header #main-header .header-top .nav .header-list .header-list-top {
    position: relative;
    margin: 0;
    width: 20%;
    height: 100px;
    line-height: 100px;
  }
  header #main-header .header-top .nav .header-list .header-list-top .header-list-top-link:active::before {
    width: 100%;
  }
  header #main-header .header-top .nav .header-list .header-list-top .header-list-sub {
    position: absolute;
    top: 106px;
    width: 100%;
    background-color: #3592CF;
    z-index: 30;
  }
  header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content {
    padding: 5px 10px;
    line-height: 30px;
    cursor: pointer;
  }
  header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content:hover {
    background-color: rgba(53, 146, 207, 0.5);
  }
  header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content .header-content-sub {
    transition: all 0.3s;
  }
  header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content .header-content-sub:hover {
    color: #fff;
  }
  header #main-header .header-top .toggle_btn {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    background: #246d9d;
    width: 100px;
    height: 100px;
    top: 0;
    right: 20px;
    transition: all 0.3s;
    z-index: 110;
  }
  header #main-header .header-top .toggle_btn span {
    display: inline-block;
    transition: all 0.3s;
    position: absolute;
    left: 25px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    width: 50%;
  }
  header #main-header .header-top .toggle_btn span:nth-child(1) {
    top: 33px;
  }
  header #main-header .header-top .toggle_btn span:nth-child(2) {
    top: 48px;
  }
  header #main-header .header-top .toggle_btn span:nth-child(3) {
    top: 63px;
  }
  header #main-header .header-top .toggle_btn:hover {
    opacity: 0.6;
  }
  header .left-bar {
    display: none;
  }
  header .scrol-btn {
    display: none;
  }
  .open #main-header .header-top .nav {
    display: block;
    top: 100px;
    left: 0;
  }
  .open #main-header .header-top .toggle_btn {
    opacity: 1;
  }
  .open #main-header .header-top .toggle_btn span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .open #main-header .header-top .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open #main-header .header-top .toggle_btn span:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
  }
  #match .match-list {
    margin-top: 40px;
    padding: 0;
  }
  #match .match-list .match-box .match-box-wrapper {
    max-width: 500px;
  }
  #match .match-list .match-box .match-box-wrapper .match-top-text {
    height: 30px;
  }
  #match .match-list .match-box .match-box-wrapper .match-top-text .match-tag {
    font-size: 90%;
    line-height: 30px;
  }
  #match .match-list .match-box .match-box-wrapper .match-top-text .league {
    font-size: 90%;
    line-height: 30px;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .opponent {
    max-width: 80px;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .date {
    font-size: 150%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .week {
    font-size: 130%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .time {
    font-size: 150%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .match-place {
    font-size: 80%;
    margin-left: 2%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .opponent-text {
    margin-left: 0%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .opponent-text .opponent-name {
    font-size: 170%;
  }
  #match .match-list .match-box .btn-list {
    margin: 0 auto 10px auto;
    text-align: center;
  }
  #match .match-list .match-box .btn-list .match-info-btn {
    width: 120px;
    font-size: 95%;
  }
  #match .match-list .match-box .btn-list .match-info-btn:nth-child(2) {
    margin-left: 10px;
  }
  .prev-arrow {
    left: 8vw;
  }
  .next-arrow {
    right: 8vw;
  }
  #latestmatch .latest-box .result .score-text .total-score {
    font-size: 95px;
  }
  #ranking .ranking-erea {
    flex-direction: column;
  }
  #ranking .left-rank {
    width: 100%;
  }
  #ranking .right-rank {
    display: none;
  }
  #news .news-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  #news .news-flex .tag-list {
    display: none;
  }
  #news .news-top {
    flex-direction: column;
  }
  #news .news-top .news-content {
    width: 100%;
  }
  #news .news-tag .tag-name {
    font-size: 0.75rem;
  }
  #news .news-archive-top dl {
    flex-direction: column;
  }
  #news .news-archive-top dl dt {
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: none;
  }
  #news .news-archive-top dl dd {
    margin-bottom: 10px;
    border-bottom: none;
  }
  #news .news-archive-top dl .archive-date {
    width: 100%;
    text-align: left;
  }
  #news .news-archive-top dl .archive-tag {
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
  }
  #news .news-archive-top dl .archive-title {
    margin-bottom: 25px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
  }
  #schedule .week-box {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
  #player .player-box li .player-item {
    max-width: 300px;
    height: 300px;
    margin: 0;
  }
  #player .player-box li .player-item .number {
    font-size: 600%;
    top: 0;
  }
  #player .player-box li .player-item .img {
    width: 100%;
  }
  #player .player-box li .player-item .name {
    font-size: 350%;
    bottom: 15%;
  }
  footer .end-list {
    flex-wrap: wrap;
  }
  footer .end-list .end-item .end-list-box {
    padding: 0;
  }
  footer .end-list .end-item .end-list-box .end-title {
    font-size: 0.8rem;
  }
  footer .end-list .end-item .end-list-box .end-content-list .end-content a {
    font-size: 0.8rem;
  }
}
@media (max-width: 630px) {
  .container {
    padding: 5% 5% 10% 5%;
  }
  .title {
    font-size: 2.2rem;
  }
  .more-btn {
    padding-top: 20px;
  }
  .pd-cut {
    padding-top: 0;
  }
  header {
    height: 70vh;
  }
  header #main-header .header-top {
    height: 73px;
  }
  header #main-header .header-top h1 {
    width: 50px;
    margin-top: 5px;
    top: 0;
    left: 5%;
  }
  header #main-header .header-top .nav {
    top: 70px !important;
  }
  header #main-header .header-top .nav .header-list {
    gap: 15px;
  }
  header #main-header .header-top .nav .header-list .header-list-top .header-list-sub .header-content .header-content-sub {
    font-size: 0.8rem;
  }
  header #main-header .header-top .toggle_btn {
    height: 70px;
    right: 0%;
  }
  header #main-header .header-top .toggle_btn span:nth-child(1) {
    top: 23px;
  }
  header #main-header .header-top .toggle_btn span:nth-child(2) {
    top: 38px;
  }
  header #main-header .header-top .toggle_btn span:nth-child(3) {
    top: 53px;
  }
  #match .match-top {
    display: block;
  }
  #match .match-top .match-btn {
    text-align: right;
  }
  #match .match-top .match-btn .btn-text {
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 0.9rem;
    margin-left: 20px;
  }
  #match .match-top .match-btn .btn-text:hover {
    font-size: 0.9rem;
  }
  #match .match-list {
    margin: 30px 0 0 0;
    padding: 0;
  }
  #match .match-list .match-box .match-box-wrapper {
    max-width: 300px;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .opponent {
    max-width: 70px;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .date {
    font-size: 100%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .week {
    font-size: 80%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .time {
    font-size: 100%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .matchdate .match-place {
    font-size: 70%;
    margin-left: 2%;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .opponent-text {
    margin-left: 0;
  }
  #match .match-list .match-box .match-box-wrapper .match-text .match-center-info .opponent-text .opponent-name {
    font-size: 150%;
  }
  #match .match-list .match-box .btn-list {
    margin-left: 13%;
  }
  #match .match-list .match-box .btn-list .match-info-btn {
    width: 40%;
    font-size: 80%;
  }
  #match .match-list .match-box .btn-list .match-info-btn::after {
    display: none;
  }
  #match .match-list .match-box .btn-list .match-info-btn:nth-child(2) {
    margin-left: 5%;
  }
  .prev-arrow {
    left: 2vw;
  }
  .next-arrow {
    right: 2vw;
  }
  #latestmatch .latest-box .latest-top-text .latest-date {
    padding-right: 10px;
  }
  #latestmatch .latest-box .latest-top-text .latest-league {
    padding-left: 10px;
  }
  #latestmatch .latest-box .result .score-text .total-score {
    font-size: 50px;
  }
  #latestmatch .latest-box .result .score-text .score-board {
    font-size: 12px;
  }
  #ranking .left-rank {
    flex-direction: column;
  }
  #ranking .left-rank .first-posi {
    width: 100%;
    font-size: 1rem;
  }
  #ranking .left-rank .first-posi span {
    font-size: 3rem;
  }
  #ranking .left-rank .first-posi .myteam-name {
    font-size: 2rem;
  }
  #ranking .left-rank .other-posi {
    width: 100%;
    font-size: 0.8rem;
  }
  #ranking .left-rank .other-posi span {
    font-size: 2rem;
  }
  #ranking .left-rank .other-posi .team-name {
    font-size: 1.5rem;
  }
  #ranking .left-rank .second-rank {
    left: 0;
  }
  #ranking .left-rank .third-rank {
    left: 0;
  }
  #schedule .week-box {
    flex-direction: column;
  }
  #schedule .week-box .schedule-item {
    width: 100%;
    height: 150px;
  }
  #player .player-box li .player-item {
    max-width: 300px;
    height: 380px;
    margin: 0 auto;
  }
  #player .player-box li .player-item .number {
    font-size: 600%;
    top: 0;
    right: 0;
  }
  #player .player-box li .player-item .img {
    width: 100%;
  }
  #player .player-box li .player-item .name {
    font-size: 350%;
    bottom: 10%;
  }
  #player .more-btn {
    padding-top: 0;
  }
  .slide-arrow-player {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
    z-index: 5;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .prev-arrow-player {
    left: 5vw;
  }
  .next-arrow-player {
    right: 5vw;
  }
  #goods .goods-box {
    flex-direction: column;
  }
  #goods .goods-box .item {
    width: 100%;
    height: 200px;
    display: flex;
  }
  #goods .goods-box .item img {
    width: 50%;
  }
  #goods .goods-box .item .item-text {
    width: 50%;
  }
  #goods .goods-box .item .item-text .item-name {
    font-size: 1rem;
  }
  #guide .guide-list .guide-item {
    margin-top: 50px;
  }
  #guide .guide-list .guide-item:nth-child(even) {
    margin-right: 10%;
  }
  #guide .guide-list .guide-item:nth-child(odd) {
    margin-left: 10%;
  }
  #guide .guide-list .guide-item p {
    font-size: 1.5rem;
  }
  footer .footer-top .footer-emb {
    width: 100px;
  }
  footer .footer-top .footer-minilist ul {
    flex-wrap: wrap;
  }
  footer .end-list {
    flex-direction: column;
  }
  footer .end-list .end-item {
    width: 100%;
  }
  footer .end-list .end-item .end-content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */
